$textColor: "#344853";

$break1: 400px;
$break2: 650px;
$break3: 900px;
$break4: 1240px;
$break0PaddingLR: 1rem; // mo default
$break1PaddingLR: 2rem;
$break2PaddingLR: 3rem;
$break3PaddingLR: 3rem;
$break4PaddingLR: 0rem;

html {
  background-color: #f5f5f7;
}
body {
  color: $textColor;
}

.section {
  background-color: #fff;
  padding: 2rem 3rem 3rem;
}
.Header {
  background-color: #fff;
  .content {
    height: 5.5rem;
    max-width: $break4;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    padding: 0 $break0PaddingLR;
    .logo1 {
      display: inline-block;
      font-weight: 600;
      letter-spacing: 0.2rem;
      color: #6a7b8f;
      margin-right: 0.5rem;
    }
    .logo2 {
      padding-top: 0.3rem;
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 300;
      color: #000;
    }
    // justify-content: center;
  }
  @media (min-width: $break1) {
    .content {
      padding: 0 $break1PaddingLR;
    }
  }
  @media (min-width: $break2) {
    .content {
      padding: 0 $break2PaddingLR;
    }
  }
  @media (min-width: $break3) {
    .content {
      padding: 0 $break3PaddingLR;
    }
  }
  @media (min-width: $break4) {
    .content {
      padding: 0;
    }
  }
}
.Main {
  .cards {
    max-width: 108rem;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding: 4rem 1rem;
    .card {
      background-color: #fff;
      color: #666;
      padding: 10px;
      height: 8rem;
    }
  }

  @media (min-width: $break1) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      padding-left: $break1PaddingLR;
      padding-right: $break1PaddingLR;
    }
  }

  @media (min-width: $break2) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
      padding-left: $break2PaddingLR;
      padding-right: $break2PaddingLR;
    }
  }

  @media (min-width: $break3) {
    .cards {
      grid-template-columns: repeat(4, 1fr);
      padding-left: $break3PaddingLR;
      padding-right: $break3PaddingLR;
    }
  }

  @media (min-width: $break4) {
    .cards {
      grid-template-columns: repeat(5, 1fr);
      padding-left: $break4PaddingLR;
      padding-right: $break4PaddingLR;
    }
  }
}

.Item {
  h1 {
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  h3 {
    font-weight: 400;
    letter-spacing: 0;
  }
  .content-area {
    max-width: $break4;
    margin: 0 auto;
    padding: 0 $break0PaddingLR;
  }
  // @media (max-width: $break4) {
  //   .content-area {
  //     padding: 0 $break4PaddingLR;
  //   }
  // }

  @media (min-width: $break1) {
    .content-area {
      padding: 0 $break1PaddingLR;
    }
  }
  @media (min-width: $break2) {
    .content-area {
      padding: 0 $break2PaddingLR;
    }
  }
  @media (min-width: $break3) {
    .content-area {
      padding: 0 $break3PaddingLR;
    }
  }
  @media (min-width: $break4) {
    .content-area {
      padding: 0 $break4PaddingLR;
    }
  }
}

.Footer {
  background-color: #cdd1d5;
  color: #344853;
  height: 20rem;
  .content {
    padding: 2rem $break0PaddingLR;
    max-width: $break4;
    margin: 0 auto;
  }
  @media (min-width: $break1) {
    .content {
      padding: 2rem $break1PaddingLR;
    }
  }
  @media (min-width: $break2) {
    .content {
      padding: 2rem $break2PaddingLR;
    }
  }
  @media (min-width: $break3) {
    .content {
      padding: 2rem $break3PaddingLR;
    }
  }
  @media (min-width: $break4) {
    .content {
      padding: 2rem $break4PaddingLR;
    }
  }
}
