html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.html-wire *:not(path):not(g) {
  color: rgba(255, 255, 255, 0.9) !important;
  background: rgba(0, 128, 255, 0.5) !important;
  outline: solid 0.25rem rgba(255, 255, 255, 0.5) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.language-css,
.language-html {
  padding-top: 0 !important;
}

.Card01 .row-equal-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.Card01 .row-equal-width .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.LayoutEqualWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.LayoutEqualWidth .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.row-layout-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.row-layout-01 .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.row-layout-01 .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.row-equal-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.row-equal-width .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.row-t1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.row-t1 .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
}

.row-t1 .col-right {
  padding: 15px;
  width: 100%;
  font-size: 11px;
  letter-spacing: 0;
  display: inline-block;
}

.row-t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.row-t2 .col-left,
.row-t2 .col-right {
  width: 48px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row-t2 .col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.row-t3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.row-t3 .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row-t3 .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.row-calendar {
  width: 100%;
}

.row-calendar .col-noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.row-calendar .col-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.row-calendar .col-nav div:nth-child(1), .row-calendar .col-nav div:nth-child(3) {
  width: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row-calendar .col-nav div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.row-calendar .col-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-calendar .col-week li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.row-calendar .col-days ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-calendar .col-days ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.html-wire *:not(path):not(g) {
  color: rgba(255, 255, 255, 0.9) !important;
  background: rgba(0, 128, 255, 0.5) !important;
  outline: solid 0.25rem rgba(255, 255, 255, 0.5) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.language-css,
.language-html {
  padding-top: 0 !important;
}

.Contents03-step01.use-example {
  border: 1px solid #ffdd5785;
  position: relative;
}

.Contents03-step01.use-example::before {
  background: #ffdd57;
  border-radius: 2px 2px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: "Example";
  display: inline-block;
  font-size: 7px;
  font-weight: 700;
  left: -1px;
  letter-spacing: 1px;
  margin-left: -1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}

.Contents03-step01 .column-1 {
  padding-right: 3rem;
}

.Contents03-step01 .btn-accortion {
  border: 0.1rem solid #e1e1e1;
  margin: 0 0 1rem 0;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
}

.Contents03-step01 .btn-accortion .is-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contents03-step01 .btn-accortion .is-10 i {
  margin-right: 0.5rem;
}

.Contents03-step01 .btn-accortion .is-2 {
  text-align: right;
}

.html-wire *:not(path):not(g) {
  color: rgba(255, 255, 255, 0.9) !important;
  background: rgba(0, 128, 255, 0.5) !important;
  outline: solid 0.25rem rgba(255, 255, 255, 0.5) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.language-css,
.language-html {
  padding-top: 0 !important;
}

.Contents04-step01 {
  --pointColor: #9439d6;
}

.Contents04-step01.use-example {
  border: 1px solid #ffdd5785;
  position: relative;
}

.Contents04-step01.use-example::before {
  background: #ffdd57;
  border-radius: 2px 2px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: "Example";
  display: inline-block;
  font-size: 7px;
  font-weight: 700;
  left: -1px;
  letter-spacing: 1px;
  margin-left: -1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}

.Contents04-step01 .grid2x2 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Contents04-step01 .grid2x2 .thumb {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contents04-step01 .grid2x2 .thumb .bul {
  background-color: var(--pointColor);
  width: 5px;
  margin-right: 10px;
}

.Contents04-step01 .grid2x2 .thumb .te {
  padding: 10px 15px;
}

.Contents04-step01 .dummy-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url("https://source.unsplash.com/iI4sR_nkkbc/800x600");
  background-size: cover;
}

.Contents01-step1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.Contents01-step1 .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
}

.Contents01-step1 .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}

.Contents01-step2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.Contents01-step2 h3 {
  font-size: 30px;
}

.Contents01-step2 .col-left {
  width: 40%;
}

.Contents01-step2 .col-center {
  width: 5%;
}

.Contents01-step2 .col-right {
  width: 55%;
}

.Contents01-step2 .col-right .btn-accortion {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contents01-step2 .col-right .btn-accortion .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Contents01-step2 .col-right .btn-accortion .title span {
  font-weight: 500;
  padding-left: 10px;
}

.Contents01-step2 .col-right .btn-accortion .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.Contents02-step01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
}

.Contents02-step01 .col-left {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contents02-step01 .col-left .grid2x2 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Contents02-step01 .col-left .grid2x2 .thumb {
  padding: 10px;
}

.Contents02-step01 .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
}

.Contents02-step02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
}

.Contents02-step02 .col-left {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 650px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.Contents02-step02 .col-left .grid2x2 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Contents02-step02 .col-left .grid2x2 .thumb {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contents02-step02 .col-left .grid2x2 .thumb .bul {
  width: 5px;
  margin-right: 10px;
}

.Contents02-step02 .col-left .grid2x2 .thumb .te {
  padding: 10px 15px;
}

.Contents02-step02 .col-right {
  width: 45%;
  padding-left: 20px;
}

.Contents02-step02 .col-right .dummy-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.Contents02-example01 {
  --pointColor: #9439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
}

.Contents02-example01 .col-left {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 650px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.Contents02-example01 .col-left .grid2x2 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Contents02-example01 .col-left .grid2x2 .thumb {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contents02-example01 .col-left .grid2x2 .thumb .bul {
  background-color: var(--pointColor);
  width: 5px;
  margin-right: 10px;
}

.Contents02-example01 .col-left .grid2x2 .thumb .te {
  padding: 10px 15px;
}

.Contents02-example01 .col-right {
  width: 45%;
  padding-left: 20px;
}

.Contents02-example01 .col-right .dummy-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url("https://source.unsplash.com/iI4sR_nkkbc/800x600");
  background-size: cover;
}

.EqualWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
}

.EqualWidth .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.Width45_55 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.Width45_55 .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
}

.Width45_55 .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}

.LeftFixed-RightAuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.LeftFixed-RightAuto .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.LeftFixed-RightAuto .col-right {
  padding: 15px;
  width: 100%;
  font-size: 11px;
  letter-spacing: 0;
  display: inline-block;
}

.LeftRightFixed_CenterAuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.LeftRightFixed_CenterAuto .col-left,
.LeftRightFixed_CenterAuto .col-right {
  width: 48px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.LeftRightFixed_CenterAuto .col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.LeftAutoSizeFitRightContentSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.LeftAutoSizeFitRightContentSize .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.LeftAutoSizeFitRightContentSize .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.row-calendar {
  width: 100%;
}

.row-calendar .col-noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.row-calendar .col-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.row-calendar .col-nav div:nth-child(1), .row-calendar .col-nav div:nth-child(3) {
  width: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row-calendar .col-nav div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.row-calendar .col-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-calendar .col-week li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.row-calendar .col-days ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-calendar .col-days ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.Header01-step01 {
  --pointColor: #9439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Header01-step01 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Header01-step01 .logo .icon {
  color: var(--pointColor);
}

.Header01-step01 .logo .text {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  line-height: 23px;
}

.Header01-step01 .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.Header01-step02 {
  --pointColor: #9439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Header01-step02 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Header01-step02 .logo .icon {
  color: var(--pointColor);
}

.Header01-step02 .logo .text {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  line-height: 23px;
}

.Header01-step02 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.Header01-step02 .buttons button {
  font-weight: 700;
  padding: 0;
  margin-left: 30px;
  border: 0;
  border-radius: 0;
}

.Header01-step02 .buttons button.active {
  color: var(--pointColor);
  border-bottom: 2px solid var(--pointColor);
}

.Header01-example01 {
  --pointColor: #9439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.29);
}

.Header01-example01 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Header01-example01 .logo .icon {
  color: var(--pointColor);
}

.Header01-example01 .logo .text {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  line-height: 23px;
}

.Header01-example01 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.Header01-example01 .buttons button {
  font-weight: 700;
  padding: 0;
  margin-left: 30px;
  border: 0;
  border-radius: 0;
}

.Header01-example01 .buttons button.active {
  color: var(--pointColor);
  border-bottom: 2px solid var(--pointColor);
}

.Header01-example02 {
  --pointColor: #9439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.29);
}

.Header01-example02 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Header01-example02 .logo .icon {
  color: var(--pointColor);
}

.Header01-example02 .logo .text {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  line-height: 23px;
}

.Header01-example02 .buttons {
  margin-right: 20px;
}

.Header01-example02 .buttons button {
  font-weight: 700;
  padding: 0;
  margin-left: 30px;
  border: 0;
  border-radius: 0;
}

.Header01-example02 .buttons button.active {
  color: var(--pointColor);
  border-bottom: 2px solid var(--pointColor);
}

.Header01-example02 .row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.Header01-example02 .row-right i {
  margin-left: 20px;
  cursor: pointer;
}

/* .Header02-step01 {
  display: flex;
  padding: 10px;
  width: 100%;

  .col {
    display: flex;
    flex-basis: 100%;
    text-align: center;
  }
}
 */
.Header02-step01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.Header02-step01 .col-left,
.Header02-step01 .col-right {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Header02-step01 .col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.Header02-step02 {
  --pointColor: #9439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.29);
}

.Header02-step02 .col-left,
.Header02-step02 .col-right {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Header02-step02 .col-left .icon {
  color: var(--pointColor);
}

.Header02-step02 .col-left .logo {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  line-height: 23px;
}

.Header02-step02 .col-right i {
  margin-left: 20px;
  cursor: pointer;
}

.Header02-step02 .col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.Header02-step02 .buttons button {
  font-weight: 700;
  padding: 0;
  margin-left: 30px;
  border: 0;
  border-radius: 0;
}

.Header02-step02 .buttons button.active {
  color: var(--pointColor);
  border-bottom: 2px solid var(--pointColor);
}
/*# sourceMappingURL=Item.css.map */