.Contents04-step01 {
  --pointColor: #9439d6;
  .grid2x2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    .thumb {
      padding-bottom: 10px;
      display: flex;
      .bul {
        background-color: var(--pointColor);
        width: 5px;
        margin-right: 10px;
      }
      .te {
        padding: 10px 15px;
      }
    }
  }
  .dummy-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url("https://source.unsplash.com/iI4sR_nkkbc/800x600");
    background-size: cover;
  }
}
